/WBS_Testing_01/WBS_Testing_01/obj/
/WBS_Testing_01/WBS_Testing_01/bin/
/WBS_Testing_01/.vs/
/WBS_Testing_01/WBS_Testing_01/obj/
/WBS_Testing_01/WBS_Testing_01/obj/Debug/netcoreapp2.0/WBS_Testing_01.csproj.CoreCompileInputs.cache
/WBS_Testing_01/WBS_Testing_01/obj/Debug/netcoreapp2.0/WBS_Testing_01.csproj.CoreCompileInputs.cache
/WBS_Testing_01/WBS_Testing_01/obj/project.assets.json
/WBS_Testing_01/WBS_Testing_01/obj/WBS_Testing_01.csproj.nuget.cache
/WBS_Testing_01/WBS_Testing_01/obj/WBS_Testing_01.csproj.nuget.g.props
/WBS_Testing_01/WBS_Testing_01/obj/WBS_Testing_01.csproj.nuget.g.targets
/WBS_Testing_01/WBS_Testing_01/obj/Debug/netcoreapp2.0/WBS_Testing_01.csproj.CoreCompileInputs.cache
/WBS_Testing_01/WBS_Testing_01/obj/project.assets.json
/WBS_Testing_01/WBS_Testing_01/obj/WBS_Testing_01.csproj.nuget.cache
/WBS_Testing_01/WBS_Testing_01/obj/WBS_Testing_01.csproj.nuget.g.props
/WBS_Testing_01/WBS_Testing_01/obj/WBS_Testing_01.csproj.nuget.g.targets
/WBS_Testing_01/WBS_Testing_01/obj/Debug/netcoreapp2.0/WBS_Testing_01.csproj.CoreCompileInputs.cache
/WBS_Testing_01/WBS_Testing_01/obj/WBS_Testing_01.csproj.nuget.cache
/WBS_Testing_01/WBS_Testing_01/obj/WBS_Testing_01.csproj.nuget.g.targets
